{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>DDDS | Driver Drowsiness Detection System</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'style_sample.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap-icons/bootstrap-icons.css'%}"
    />
    <link rel="stylesheet" href="{% static 'boxicons/css/boxicons.min.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'glightbox/css/glightbox.min.css'%}"
    />
    <link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css'%}" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="{% url 'home'%}" class=""
          ><img
            src="{% static 'logo1.jpg'%}"
            alt=""
            class=""
            width="140px"
            height="47px"
        /></a>
        <!--<h1 class="logo"><a href="index.html">DDDS</a></h1> -->
        <nav id="navbar" class="navbar">
          <ul>
            {% if user.is_authenticated and user.is_superuser%}
            <li>
              <a class="nav-link scrollto active" href="#"
                >Hello, {{user.first_name}}</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'generate_hist'%}"
                >Dashboard</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a>
            </li>
            {% elif user.is_authenticated %}
            <li>
              <a class="nav-link scrollto active" href="#"
                >Hello, {{user.first_name}}</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="nav-link scrollto" href="{% url 'register' %}"
                >Register</a
              >
            </li>
            <li>
              <a class="nav-link scrollto active" href="{% url 'login' %}"
                >Login</a
              >
            </li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>Driver under the influence of drowsiness</h1>
            <h2>
              We'll be there to protect you no matter where you go.Leave Your
              Worries Behind And Enjoy The Ride..
            </h2>
            <div>
              <a
                href="{% url 'detect_drowsiness'%}"
                class="btn-get-started scrollto"
                >Get Started</a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="{% static 'dr3.jpg'%}"
              class="img-fluid"
              alt=""
              width="400%"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row">
            <div
              class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative"
            >
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img
                  src="{% static 'dr1.png'%}"
                  class="img-fluid"
                  alt=""
                  width="300%"
                  height="200%"
                  style="
                    width: 500%;
                    margin-top: 80px;
                    margin-left: 10px;
                    padding-left: 0%;
                  "
                />
              </div>
            </div>

            <div
              class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
            >
              <h3>Features Of the system</h3>
              <p>
                Driver drowsiness detection is a vehicle safety technology which
                helps prevent accidents caused by the driver getting drowsy.
              </p>

              <div class="icon-box">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title">
                  <a href="{% url 'home'%}">Drowsiness-Detection</a>
                </h4>
                <p class="description">
                  Just in one click start Drowsiness-Detection while driving.
                </p>
              </div>

              <div class="icon-box">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="#">Easy User Interface.</a></h4>
                <p class="description">
                  So easy to use, that even child can use it.
                </p>
              </div>

              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="#">Good Accuracy</a></h4>
                <p class="description">
                  Analysis of drowsiness of the driver is efficient.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
          <div class="section-title">
            <h2>More Insights About DDDS</h2>
            <p>Smarter Way of Safety.</p>
          </div>

          <div class="row">
            <!-- Pricing -->

            <section id="pricing">
              <div class="row w-50 mx-auto">
                <div class="pricing-col col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3>Drowsiness Detection</h3>
                    </div>
                    <div class="card-body">
                      <h2>90.0% Acurracy</h2>
                      <p>Bulid on Best Situable Algorithm</p>
                      <p>Low Latency</p>
                      <p>Quick Alarm Raise</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
          </div>

          <div class="row mt-5">
            <div class="col-lg-6">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Pune</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>imru8331@gmail.com</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img">
              <div class="info">
                <img src="{% static 'contact.png'%}" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <footer id="footer">
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright
          <strong><span>Driver Drowsiness Detection System</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="#">ImRu Team</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Error Messages -->
    {% for message in messages %}
    <script>
      alert("{{message}}");
    </script>
    {% endfor %}

    <!-- Template Main JS File -->
    <script src="{% static 'main_sample.js'%}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'glightbox/js/glightbox.min.js'%}"></script>

    <script src="{% static 'isotope-layout/isotope.pkgd.min.js'%}"></script>

    <script src="{% static 'swiper/swiper-bundle.min.js'%}"></script>
  </body>
</html>
